@page
@model WebAppToys.Pages.Admin.Listings.DetailsModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow border-0">
                <div class="card-header bg-primary text-white">
                    <h2>@Model.ListingObj.Name</h2>
                </div>
                <div class="card-body"> 
                    <dl class="row">
                        <dt class="col-sm-3">Description:</dt>
                        <dd class="">@Model.ListingObj.Description</dd>
                        
                        <dd class=" d-flex justify-content-center">
                            <!--<img src="@Model.ListingObj.Image" alt="Photo of item listed" class="img-fluid" style="max-width: 500px;" />-->
                            <img src="~/dinosaur-lego.jpeg" alt="Photo of item listed" class="img-fluid" style="max-width: 500px;" />
                        </dd>
                    </dl>
                    <div class="d-flex justify-content-end">
                        @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.NameIdentifier) == @Model.ListingObj.User_Id)
                        {
                            // if the listing belongs to the user who is logged in, let them edit.
                            <a class="btn btn-warning me-2" asp-page="./Upsert" asp-route-id="@Model.ListingObj.Id">Edit</a>
                            <a class="btn btn-warning me-2" asp-page="/Customer/Trade/BidsForListing" asp-route-listingId="@Model.ListingObj.Id">View Offers</a>
                        }

                        <a class="btn btn-primary me-2" asp-page="./Index">Back to List</a>

                        @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.NameIdentifier) != @Model.ListingObj.User_Id)
                        {
                            // if user is logged in and not the owner of the listing, show the Bid button
                            <a class="btn btn-primary" asp-page="/Customer/Bid/Create" asp-route-listingId="@Model.ListingObj.Id">Bid</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Bid</a>


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
