@page
@model WebAppToys.Pages.Admin.Listings.DetailsModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.ListingObj.Name</h1>

<div>
    <dl>
        <dt>Description</dt>
        <dd>@Model.ListingObj.Description</dd>
        <dt>Image</dt>
        <dd>@Model.ListingObj.Image</dd>
        <dd><img src="@Model.ListingObj.Image" alt="Photo of item listed" style="width: 500px;" /></dd>
        <dt>Status</dt>
        <dd>@Model.ListingObj.Status</dd>
        <dt>User ID</dt>
        <dd>@Model.ListingObj.User_Id</dd>


    </dl>
</div>


@if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.NameIdentifier) == @Model.ListingObj.User_Id)
{
    //if the listing belongs to the user who is logged in, let them edit.

    <a asp-page="./Upsert" asp-route-id="@Model.ListingObj.Id">Edit</a>
}

 
<a asp-page="./Index">Back to List</a>
