@page
@model WebAppToys.Pages.Customer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-transparent border-0">
                <div class="card-body semi-transparent">
                    <h4 class="card-title">Listing Details: @Model.ListingObj.Name</h4>
                    <hr />
                    <dl class="row">

                        <dt class="">
                            @Html.DisplayNameFor(model => model.ListingObj.Description)
                        </dt>
                        <dd class="">
                            @Html.DisplayFor(model => model.ListingObj.Description)
                        </dd>

                        <dd class="d-flex justify-content-center">
                            <!--<img src="@Model.ListingObj.Image" alt="Photo of item listed" class="img-fluid" style="max-width: 500px;" />-->
                            <img src="~/dinosaur-lego.jpeg" alt="Photo of item listed" class="img-fluid rounded shadow" style="max-width: 400px;" />
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-transparent border-0">
                <div class="card-body semi-transparent">
                    <h4 class="card-title">Bid</h4>
                    <hr />
                    <dl class="row">
                        
                        
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BidsObj.Listing_Id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BidsObj.Listing_Id)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BidsObj.Price)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BidsObj.Price)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TradeObj.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TradeObj.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BidsObj.Status)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BidsObj.Status)
                        </dd>
                        <div class="row mt-4">
                            <div class="col-md-12 d-flex justify-content-end">
                                <a asp-page="./Edit" asp-route-id="@Model.BidsObj?.Id" class="btn btn-primary">Edit Bid</a>
                                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>



